---
import { getI18N } from "@/i18n";
import GitHub from "./icons/GitHub.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import AlpineJS from "./icons/AlpineJS.astro";
import Prisma from "./icons/Prisma.astro";
import PostgreSQL from "./icons/PostgreSQL.astro";
import Typescript from "./icons/Typescript.astro";
import NextJS from "./icons/NextJS.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Xata from "./icons/Xata.astro";
import Vue from "./icons/Vue.astro";
import Firebase from "./icons/Firebase.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import React from "./icons/React.astro";
import Node from "./icons/Node.astro";
import Rails from "./icons/Rails.astro";
import Express from "./icons/Express.astro";
import Socket from "./icons/Socket.astro";
import I18N from "./icons/I18n.astro";
import Pinia from "./icons/Pinia.astro";
import Docker from "./icons/Docker.astro";
import Ruby from "./icons/Ruby.astro";
import PHP from "./icons/PHP.astro";
import Laravel from "./icons/Laravel.astro";
import Livewire from "./icons/Livewire.astro";
import Ghactions from "./icons/Ghactions.astro";
import Redis from "./icons/Redis.astro";
import Mysql from "./icons/Mysql.astro";
import Sidekiq from "./icons/Sidekiq.astro";
import Hotwire from "./icons/Hotwire.astro";
import Stimulus from "./icons/Stimulus.astro";
import Sqlite from "./icons/Sqlite.astro";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale });

interface TAGS {
  [key: string]: {
    name: string;
    class: string;
    icon?: any;
  };
}

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ALPINE: {
    name: "Alpine.js",
    class: "bg-white text-black",
    icon: AlpineJS,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-sky-300 text-black",
    icon: Typescript,
  },
  PRISMA: {
    name: "Prisma",
    class: "bg-neutral-900 text-white",
    icon: Prisma,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-gray-800 text-white",
    icon: PostgreSQL,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  XATA: {
    name: "Xata",
    class: "bg-purple-900 text-white",
    icon: Xata,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-gray-800 text-white",
    icon: Vue,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-gray-800 text-white",
    icon: Firebase
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-gray-800 text-white",
    icon: Bootstrap
  },
  REACT : {
    name: "React",
    class: "bg-gray-800 text-white",
    icon: React
  },
  NODE: {
    name: "Node.js",
    class: "bg-white text-green-700",
    icon: Node
  },
  RUBY: {
    name: "Ruby",
    class: "bg-red-500 text-white",
    icon: Ruby
  },
  RAILS : {
    name: "Ruby on Rails",
    class: "bg-red-500 text-white",
    icon: Rails
  },
  EXPRESS: {
    name: "Express",
    class: "bg-white text-black",
    icon: Express
  },
  SOCKET: {
    name: "Socket.io",
    class: "bg-gray-800 text-white",
    icon: Socket
  },
  TRANSLATIONS: {
    name: "i18n",
    class: "bg-gray-800 text-white",
    icon: I18N
  },
  PINIA : {
    name: "Pinia",
    class: "bg-gray-800 text-white",
    icon: Pinia
  },
  DOCKER : {
    name: "Docker",
    class: "bg-white text-blue-900",
    icon: Docker
  },
  PHP: {
    name: "PHP",
    class: "bg-white text-black",
    icon: PHP
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-white text-black",
    icon: Laravel
  },
  LIVEWIRE: {
    name: "Livewire",
    class: "bg-white text-black",
    icon: Livewire
  },
  GHACTIONS: {
    name: "GitHub Actions",
    class: "bg-gray-800 text-white",
    icon: Ghactions
  },
  REDIS: {
    name: "Redis",
    class: "bg-red-500 text-white",
    icon: Redis
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-white text-black",
    icon: Mysql
  },
  SIDEKIQ: {
    name: "Sidekiq",
    class: "bg-white text-black",
    icon: Sidekiq
  },
  HOTWIRE: {
    name: "Hotwire",
    class: "bg-white text-black",
    icon: Hotwire
  },
  STIMULUS: {
    name: "Stimulus",
    class: "bg-white text-black",
    icon: Stimulus
  },
  SQLITE: {
    name: "SQLite",
    class: "bg-white text-black",
    icon: Sqlite
  }
} 
---

<div class="flex flex-col gap-y-16">
  {
    t.sections.projects.projects.map(
      ({ image, title, description, tags, link, github }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt={title}
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
              {title}
            </h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row flex-wrap mb-2 gap-2">
                {tags.map((tag) => {
                  return (
                    <li>
                      <span
                        class={`flex gap-x-2 rounded-full text-xs ${TAGS[tag as keyof typeof TAGS].class} py-1 px-2 `}
                      >
                        {<TAGS[tag].icon  class="size-4" />}
                        {TAGS[tag as keyof typeof TAGS].name}
                      </span>
                    </li>
                  );
                })}
              </ul>

              <div class="mt-2 text-gray-700 dark:text-gray-400">
                {description}
              </div>
              <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                  <LinkButton href={github}>
                    <GitHub class="size-6" />
                    {t.sections.projects.buttons?.code}
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link}>
                    <Link class="size-4" />
                    {t.sections.projects.buttons.visit}
                  </LinkButton>
                )}
              </footer>
            </div>
          </div>
        </article>
      )
    )
  }
</div>
